@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;


}

.imageAndText {
    display: flex;
    gap: 15px;
    align-items: end;
    flex-direction: row-reverse;


}

.imageAndText img {
    max-width: 48px;
}

.text {
    position: relative;
    padding: 8px 13px;
    width: 430px;
    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 11px;
    z-index: 0;
}

.text:after {
    border-bottom: 0 solid transparent;
    border-left: 28px solid #06c;
    border-top: 28px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: -9px;
    width: 0;
    z-index: -1;
}

.name {
    text-align: right;
    font-weight: 600;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    white-space: pre-wrap;
    word-break: break-word;
}

.time {
    margin-top: 5px;
    margin-right: 8px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #000000;
}